@charset "UTF-8";

/* 초기설정 */
*{
  margin:0;
  padding:0;
  list-style:none;
  box-sizing: border-box;

}

main{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}



a{
    text-decoration-line: none;
    display: block;
}

header{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    border-top: #0A1218 3px solid;
    border-right: #0A1218 3px solid;
    border-left: #0A1218 3px solid;
}

.HeaderLi{
    width: 300px;
    height: 100%;
    background-color: aliceblue;
    margin-right: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    line-height: 90px;
    /* text-shadow: -1px 0 #00C896, 0 1px #00C896, 1px 0 #00C896, 0 -1px #00C896; */
}

.HeaderLi > a{
    color: #0A1218;
    /* display: inline;
    font-family: 'Dancing Script', cursive;
    font-weight: 900; */

}


/* 메인메뉴*/
.HeaderNavi{
    margin-left: 1px; /*마진으로 로고랑 메뉴 사이에 여백을 줌*/
    width: 700px;
    height: 100px;
    display: flex; /*메인메뉴들 가지런하게 정렬해줌*/
    align-items: center;/*상하정렬*/
}

.HeaderNavi > li{
    width: 100%;
    height: 50px;
    padding-top: 10px; /*패딩으로 위에 여백줌*/
    position: relative; /*(상대 위치)	요소 자기 자신을 기준으로 배치하고 top bottom left right로 요소의 위치를 옮김*/
    cursor: pointer; /*커서 올리면 손모양으로 커서가 바뀜 (Wait을 사용하면 상대방 스트레스 받게 가능)*/
    border-right: #0A1218 3px solid;
}

.hea1 {
    border-left: #0A1218 3px solid;
}

.HeaderNavi >li:hover{ /*마우스를 올리면 실행되는 hover 이벤트*/
    background: rgba(255, 255, 255, 0.5);
}

.HeaderNavi > li > a{
    text-align: center;/*글자 가운데 정렬*/
    color: #0A1218;/*글자 색*/
    font-size: 18px;
    font-weight: 700;
}

.SubMenu{
    display: none;/*시작에 보이지 않게*/
    width: 100%;
    position: absolute; /*메인메뉴의 기준으로 서브메뉴를 배치*/
    top: 75px; /*메인메뉴랑 서브메뉴 사이의 여백*/
    z-index: 1; /*요소의 쌓이는 순서를 결정 */
    background: #0A1218;
}

.SubMenu > li{
    width: 100%;
    height: 45px; 
    font-size: 14px; /*글씨 크기*/
    font-weight: 500; /*글씨 굵기*/
    padding-top: 14px;/*여백줌*/
    text-align: center; 
    color: #ffffff;
    border-bottom: #00C896 2px solid;
    border-left: #00C896 2px solid;
    border-right: #00C896 2px solid;
}

.SubMenu > li:hover{
    background: rgba(0, 0, 0, 0.5);
}

.SubMenu > li > a{
    color: #eeeeee;
}

.search {
    position: relative;
    width: 400px;
    height: 100%;
}

input {
    width: 70%;
    border: 3px solid #0A1218;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin-left: 15%;
    margin-top: 7%;
}



/* 이미지슬라이드 */

/* .imgSlide{
    position:relative;
    width:1440px;
    height:480px;
    overflow: hidden;
    background: #eeeeee;
    border-top: #0A1218 3px solid;
    border-right: #0A1218 3px solid;
    border-left: #0A1218 3px solid;
}
.imgSlide > a{
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}

.imgSlide a > img {
    height:480px;
    width: 1440px;
}

.imgText{
    position:absolute;
    top:50%;
    left:50%;
    margin: -10px -180px;
    background: rgba(124, 255, 37, 0.4) ;
    color:#ffffff;
    padding: 20px 100px;
    font-weight: bold;
} */



/* 컨텐츠 영역 */


.frame {
    width: 1040px;
    height: 500px;
    text-align: center;
    border-right: #0A1218 3px solid;
    border-top: #0A1218 3px solid;
    background-color: aliceblue;
    float: right;
    padding-top: 40px;
}




button {
    margin: 10px;
    outline: none;
}
.btn {
    width: 280px;
    height: 120px;
    padding: 10px 25px;
    border: 2px solid #0A1218;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    /* display: inline;
    font-family: 'Dancing Script', cursive; */
}

.btn > li{
    padding-top: 19px;
    text-align: center;
    font-weight: 700;
}

.btn > a > img{
    width: 70px;
    height: 70px;
    float: left;
}

.btn-1 > li{
    font-size: 20px;
}

.btn-2 > li{

    font-size: 20px;
}

.btn-3 > li{

    font-size: 20px;
}

.btn-4 > li{
    
    font-size: 20px;
}

.btn-5 > li{
    
    font-size: 20px;
}

.btn-6 > li{
    font-size: 20px;
}

.btn-7 > li{
    font-size: 18px;
}
.empty{
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    float: left;
    border-left: #0A1218 3px solid;
    border-top: #0A1218 3px solid;
}

.empty > h1{
    text-align: center;
    color: #0A1218;
    padding-top: 120px;
    padding-left: 30px;
}

.empty > h4{
    text-align: center;
    color: #0A1218;
    padding-top: 20px;
    padding-left: 30px;
    font-size: large;
}

.con{
    border-left: #0A1218 3px solid;
    float: left;
    border-top: #0A1218 3px solid;
    text-align: center;
}

.con > button{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    margin-top: 25px;
    margin-left: 38px;
    border-radius: 30px;
    overflow: hidden;
    border: #0A1218 3px solid;
}

.con1{
    width: 480px;
    height: 450px;
    background-color: aquamarine;
    display: flex;
}

.con1 > button > h1{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: orange;
    border-radius: 10px;
    border: #0A1218 2PX solid;
} 

.con1 > button > li{
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(86, 161, 214);
    font-weight: 600;
    border: #0A1218 2px solid;
}

.con1 > button > img{
    width: 100%;
    height: 70%;
    padding-top: 40px;
    
}

.con2{
    width: 480px;
    height: 450px;
    background-color: #7BA4FF;
    display: flex;

}

.con2 > button > h1{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #00DDF9;
    border-radius: 10px;
    border: #0A1218 2PX solid;
} 

.con2 > button > li{
    float: right;
    text-align: center;
    margin-right: 30px;
    margin-top: 25px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #F9F871;
    font-weight: 600;
    border: #0A1218 2px solid;
}

.con2 > button > img{
    width: 100%;
    height: 80%;
    padding-top: 20px;
    
}

.con3{
    width: 480px;
    height: 450px;
    background-color: #FF9A6B;
    display: flex;
    border-right: #0A1218 3px solid;
}

.con3 > button > h1{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #00755D;
    border-radius: 10px;
    border: #0A1218 2PX solid;
} 

.con3 > button > li{
    float: right;
    text-align: center;
    margin-right: 70px;
    margin-top: 25px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #DFE0DF;
    font-weight: 600;
    border: #0A1218 2px solid;
}

.con3 > button > img{
    width: 100%;
    height: 70%;
    padding-top: 40px;
}



.snsframe{
    width: 740px;
    height: 100px;
    background-color: aliceblue;
    float: left;
    border-left: #0A1218 3px solid;
    border-top: #0A1218 3px solid;
}

.snsframe > h1{
    color: #0A1218;
    padding-top: 20px;
    padding-left: 35px;
    font-size: 40PX;
    font-weight: 800;
}

.sns{
    width: 700px;
    height: 100px;
    float: right;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    padding-top: 5px;
    padding-left: 250px;
    border-top: #0A1218 3px solid;
    border-right: #0A1218 3px solid;
}

.Bsns{
    width: 70px;
    height: 70px;
    border: 3px solid #7BA4FF; 
    background: transparent;
    cursor: pointer;
    background-color: rgb(126, 255, 212);
    border-radius: 15px;
    display: inline-block;
}

.Bsns > img{
    width: 50px;
    height: 50px;
    
}



/* .cdiv1{
    width: 350px;
    height: 200px;
    
}

.cdiv2{
    width: 350px;
    height: 200px;
    
}

.cdiv3{
    width: 350px;
    height: 200px;
    
}

.cdiv1 > a > img{
    width: 350px;
    height: 200px;
    border-top: #000000 3px solid;
    border-left: #000000 3px solid;
}

.cdiv2 > a > img{
    width: 350px;
    height: 200px;
    border-top: #000000 3px solid;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
}

.cdiv3 > a > img{
    width: 350px;
    height: 200px;
    border-top: #000000 3px solid;
    
    border-right: #000000 3px solid;
}

*/

/* footer{
    width: 1440px;
    height: 100px;
    display: flex;
    border: #0A1218 3px solid;
    background-color: #565D63;
} */
